@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
.bg {
  background: radial-gradient(
    ellipse at center,
    #e4f5fc 0%,
    #9fd8ef 0%,
    #bfe8f9 1%,
    #2ab0ed 100%
  );
  background-repeat: no-repeat;
  background-size: cover;
}
